---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.sitePages %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <changefreq>monthly</changefreq>
    <priority>{{ page.data.sitemapPriority }}</priority>
  </url>
  {%- endfor %}
  <url>
    <loc>{{ site.url }}/blog/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  {%- for post in collections.post %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date | dateIso }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {%- endfor %}
</urlset>
